@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.player-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0; /* Remove padding to align content properly */
  margin-bottom: 16px;
  transition: all 0.3s ease;
  background: #ffffff;

  &.expanded {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;

    .jersey-wrapper {
      display: flex;
      position: relative;
    }

    .jersey-container {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .jersey-number {
      font-family: 'Graduate', sans-serif;
      font-size: 2em;
    }

    .gradient-fade {
      width: 20px;
      height: 80px;
    }

    .player-info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;
      color: #252525;

      .player-name {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }

    .player-info span {
      line-height: 1.2;
    }

    .favorite-button {
      margin-left: auto;
      margin-right: 16px;
      background: none;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
    }
  }

  .card-details {
    padding: 16px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-radius: 10px;

    .basic-info {
      margin-bottom: 16px;

      .info-row {
        display: flex;
        margin-bottom: 8px;

        .info-label {
          font-weight: bold;
          margin-right: 8px;
        }

        .info-value {
          margin-right: 16px;
        }
      }
    }

    .player-stats {
      h4 {
        margin-bottom: 8px;
      }

      .stats-row {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .stat-item {
          flex: 1;
          padding: 8px;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-right: 8px;

          &:last-child {
            margin-right: 0;
          }

          .stat-label {
            font-weight: bold;
            margin-bottom: 4px;
          }

          .stat-value {
            font-size: 1.2em;
            color: #333;
          }
        }
      }
    }
  }
}
